.el-form-item--mini .el-form-item__label {
    line-height: 0px!important;
}
.el-dialog__header {
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
    padding: 13px 18px 10px;
}
.el-dialog__headerbtn {
    top:16px!important
}
.el-dialog__body {
    margin-top: 2px;
    padding: 20px 22px 0px;
    color: #606266;
    font-size: 14px;
    height: auto;
    max-height: 400px;
    overflow: auto;
    word-break: break-all;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}
.el-dialog__footer {
    padding: 14px 20px 15px;
    text-align: right;
    box-sizing: border-box;
}