/* 全局样式表 */
html,body,#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
p {
  margin: 0;
  padding: 0;
}
.container {
  /* width: 100%; */
  min-width: 1280px;
  height: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 20px;
  box-sizing: border-box;
}
.content {
  /* padding:20px; */
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
  border: 1px solid #ebeef5;
}
/* 处理表格中表头和表体不对齐问题 */
.el-table th.gutter{
  display: table-cell!important;
}
/* 分页样式 */
/* .el-pagination {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 14px;
  color: #909399 !important;
  background: #f4f4f4 !important;
  padding-top: 15px !important;
} */